* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    max-width: 300px;
    width: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
}
.bg{
    width: 100%;
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    position: relative;
}
.first{
    background-image: url('./img/bg.png');
}
.second{
    background-image: url('./img/bg2.png');
}
.third{
    background-image: url('./img/bg3.png');
}
.title{
    max-width: 117px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.main-title{
    top: 110px;
}
.bottom-title{
    top: 207px;
    max-width: 125px;
}
.inv {
    display: none;
    /* visibility: hidden; */
  }